policy_module(l_sshd,0.0.2)

require {
	type init_t;
	type sshd_net_t;
	type unconfined_service_t;
	type unconfined_t;
	class vsock_socket create;
	class process dyntransition;
}

#============= init_t ==============
allow init_t unconfined_service_t:vsock_socket create;

#============= unconfined_service_t ==============
allow unconfined_service_t sshd_net_t:process dyntransition;
allow unconfined_service_t unconfined_t:process dyntransition;

