policy_module(l_tcpd,0.0.1)

require {
	type tcpd_t;
	class udp_socket { connect create getattr setopt };
	class netlink_route_socket { bind create getattr getopt nlmsg_read setopt };
}

#============= tcpd_t ==============
allow tcpd_t self:netlink_route_socket { bind create getattr getopt nlmsg_read setopt };
allow tcpd_t self:udp_socket { connect create getattr setopt };
