
policy_module(l_dccproc,0.0.2)

require {
	type antivirus_t;
	type dcc_var_t;
	type dcc_client_map_t;
	type spamd_t;
	class file write;
	class dir write;
}

auth_var_filetrans_cache(antivirus_t)
files_manage_var_files(antivirus_t)
files_rw_var_files(spamd_t)
allow antivirus_t dcc_client_map_t:file write;
allow antivirus_t dcc_var_t:dir write;
allow antivirus_t dcc_var_t:file write;
